.search-mobile {
  margin-top: 20px;
  .heading {
    font-weight: bold;
    font-size: 20px;
  }
}

@media (max-width:768px) {
  .search-mobile {
    display: block;
  }
  .users-table{
    &>:not(:first-child) {
      border-top: inherit !important;
    }
    thead {
      display: none;
    }
    td, td {
      display: block;
    }
    tr {
      position: relative;
      td {
        text-align: right;
        padding-right: 25px;
        &:before {
          content: attr(data-label);
          padding-left:10px;
          left: 0;
          position: absolute;
        }
        .actions {
          justify-content: flex-end !important;

        }
      }
    }
  }

}
@media (min-width:769px) {
  .users-table{
    display: table;

  }
  .search-mobile {
    display: none;
  }

}